/*Heading styling*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.elastic-logo {
    width: 10rem;
    height: auto;
}

h1 {
    font-family: "Roboto Mono";
}

.subheading {
    font-family: "Roboto Mono";
}

/*Main section styling*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 20rem;
    height: 10rem;
    padding: 1rem;

    border-style: outset;
    border-width: 0.01rem;
    border-radius: 5%;
    border-color: black;
}

button {
    margin: 2rem 0 2rem 0;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;

    font-size: larger;

    background-color: #006BB4;
    color: #FFFFFF;
}

p#chat-response {
    min-width: 18rem;
    min-height: 10rem;

    border-style: outset;
    border-width: 0.15rem;
    border-color: black;

    text-align: center;
    font-family: "Roboto Mono";

    padding: 1rem;
}


footer {
    text-align: center;
    font-family: sans-serif;
}